body {
font-family: Arial, sans-serif;

color: #333;

background-color: #f9f9f9;

background-image: url("download (10).jpg");

margin: 0;

padding: 0;

line-height: 1.6;
}

header {
background-color: #16a8c2;

color: white;

padding: 20px;

text-align: center;
}


header h1 {
margin: 0;
}


nav a {
color: white;

text-decoration: none;

margin: 0 10px;
}

nav a:hover {
text-decoration: underline;
}

main {
padding: 20px;

max-width: 800px;

margin: 0 auto;
}


main img {
max-width: 100%;

height: auto;

display: block;

margin: 20px 0;
}

img {
border-radius: 1000px;color: #944e4e;
position: center;
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius: 10px;color: #000;
}

button:hover{
    background: #00008B;
}

backgroundimg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

